{
  "openapi": "3.0.0",
  "info": {
    "title": "currencyapi.com",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.currencyapi.com"
    }
  ],
  "paths": {
    "/v3/status": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "status",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{currencyapi_apikey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 02 Mar 2022 10:14:07 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "x-ratelimit-limit-quota-month": {
                "schema": {
                  "type": "integer",
                  "example": "300"
                }
              },
              "x-ratelimit-remaining-quota-month": {
                "schema": {
                  "type": "integer",
                  "example": "291"
                }
              },
              "x-ratelimit-limit-quota-minute": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "x-ratelimit-remaining-quota-minute": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Expect-CT": {
                "schema": {
                  "type": "string",
                  "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=rdsQS2D%2BYMkTxKtUPqhLH6VE5I%2FEnTEBukQKEstd5RGBrKjeOAw1AqRrqTtufzyIcdH8gVKvyeXMEHAcw7T1WY0QUTlAyUSea2L0A8jh3syW70nP33%2BZBllWkal0Vd8wGIgJwhoa\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "6e595d18ce7877f1-VIE"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "quotas": {
                    "month": {
                      "total": 300,
                      "used": 9,
                      "remaining": 291
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/latest": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "latest",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{currencyapi_apikey}}"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 02 Mar 2022 10:12:57 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "charset": {
                "schema": {
                  "type": "string",
                  "example": "utf-8"
                }
              },
              "x-execution-time": {
                "schema": {
                  "type": "number",
                  "example": "41.67"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "x-ratelimit-limit-quota-month": {
                "schema": {
                  "type": "integer",
                  "example": "300"
                }
              },
              "x-ratelimit-remaining-quota-month": {
                "schema": {
                  "type": "integer",
                  "example": "294"
                }
              },
              "x-ratelimit-limit-quota-minute": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "x-ratelimit-remaining-quota-minute": {
                "schema": {
                  "type": "integer",
                  "example": "8"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Expect-CT": {
                "schema": {
                  "type": "string",
                  "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=zpmzng%2F%2Bny0u3gMUsb1GXPBeuOxYm11KNBqC6n9xQgQmSFBuUmVM0kIP8WlbrK04YdxghcQBnieEtoETNA30kQ6w%2B9HSSbl0MI3m92xgemsKzHvaiUxFo0i%2FHHjrWX0muXFRac1Z\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "6e595b612f2377f1-VIE"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "latest",
                    "value": {
                      "meta": {
                        "last_updated_at": "2022-03-01T23:59:59Z"
                      },
                      "data": {
                        "AED": {
                          "code": "AED",
                          "value": 3.67316
                        },
                        "AFN": {
                          "code": "AFN",
                          "value": 91.7616
                        },
                        "ALL": {
                          "code": "ALL",
                          "value": 108.74281
                        },
                        "AMD": {
                          "code": "AMD",
                          "value": 484.87264
                        },
                        "ANG": {
                          "code": "ANG",
                          "value": 1.80166
                        },
                        "AOA": {
                          "code": "AOA",
                          "value": 496.60796
                        },
                        "ARS": {
                          "code": "ARS",
                          "value": 107.40274
                        },
                        "AUD": {
                          "code": "AUD",
                          "value": 1.37782
                        },
                        "AWG": {
                          "code": "AWG",
                          "value": 1.8003
                        },
                        "AZN": {
                          "code": "AZN",
                          "value": 1.70002
                        },
                        "BAM": {
                          "code": "BAM",
                          "value": 1.74957
                        },
                        "BBD": {
                          "code": "BBD",
                          "value": 2.01855
                        },
                        "BDT": {
                          "code": "BDT",
                          "value": 85.94869
                        },
                        "BGN": {
                          "code": "BGN",
                          "value": 1.75711
                        },
                        "BHD": {
                          "code": "BHD",
                          "value": 0.37707
                        },
                        "BIF": {
                          "code": "BIF",
                          "value": 1998.67846
                        },
                        "BMD": {
                          "code": "BMD",
                          "value": 1.00002
                        },
                        "BND": {
                          "code": "BND",
                          "value": 1.35596
                        },
                        "BOB": {
                          "code": "BOB",
                          "value": 6.87291
                        },
                        "BRL": {
                          "code": "BRL",
                          "value": 5.161
                        },
                        "BSD": {
                          "code": "BSD",
                          "value": 0.99973
                        },
                        "BTC": {
                          "code": "BTC",
                          "value": 7092.96139
                        },
                        "BTN": {
                          "code": "BTN",
                          "value": 75.67896
                        },
                        "BWP": {
                          "code": "BWP",
                          "value": 11.64485
                        },
                        "BYN": {
                          "code": "BYN",
                          "value": 2.98521
                        },
                        "BYR": {
                          "code": "BYR",
                          "value": 19600
                        },
                        "BZD": {
                          "code": "BZD",
                          "value": 2.01513
                        },
                        "CAD": {
                          "code": "CAD",
                          "value": 1.27306
                        },
                        "CDF": {
                          "code": "CDF",
                          "value": 2014.53684
                        },
                        "CHF": {
                          "code": "CHF",
                          "value": 0.91862
                        },
                        "CLF": {
                          "code": "CLF",
                          "value": 0.02924
                        },
                        "CLP": {
                          "code": "CLP",
                          "value": 806.70102
                        },
                        "CNY": {
                          "code": "CNY",
                          "value": 6.31265
                        },
                        "COP": {
                          "code": "COP",
                          "value": 3882.75912
                        },
                        "CRC": {
                          "code": "CRC",
                          "value": 641.98823
                        },
                        "CUC": {
                          "code": "CUC",
                          "value": 1.00496
                        },
                        "CUP": {
                          "code": "CUP",
                          "value": 23.99317
                        },
                        "CVE": {
                          "code": "CVE",
                          "value": 98.63775
                        },
                        "CZK": {
                          "code": "CZK",
                          "value": 22.82486
                        },
                        "DJF": {
                          "code": "DJF",
                          "value": 177.72333
                        },
                        "DKK": {
                          "code": "DKK",
                          "value": 6.68288
                        },
                        "DOP": {
                          "code": "DOP",
                          "value": 54.45344
                        },
                        "DZD": {
                          "code": "DZD",
                          "value": 141.76821
                        },
                        "EGP": {
                          "code": "EGP",
                          "value": 15.70747
                        },
                        "ETB": {
                          "code": "ETB",
                          "value": 51.25295
                        },
                        "EUR": {
                          "code": "EUR",
                          "value": 0.89827
                        },
                        "FJD": {
                          "code": "FJD",
                          "value": 2.12645
                        },
                        "GBP": {
                          "code": "GBP",
                          "value": 0.75008
                        },
                        "GEL": {
                          "code": "GEL",
                          "value": 3.17009
                        },
                        "GHS": {
                          "code": "GHS",
                          "value": 6.8206
                        },
                        "GMD": {
                          "code": "GMD",
                          "value": 53.05071
                        },
                        "GNF": {
                          "code": "GNF",
                          "value": 8972.48366
                        },
                        "GTQ": {
                          "code": "GTQ",
                          "value": 7.71762
                        },
                        "GYD": {
                          "code": "GYD",
                          "value": 209.08127
                        },
                        "HKD": {
                          "code": "HKD",
                          "value": 7.81604
                        },
                        "HNL": {
                          "code": "HNL",
                          "value": 24.6165
                        },
                        "HRK": {
                          "code": "HRK",
                          "value": 6.80139
                        },
                        "HTG": {
                          "code": "HTG",
                          "value": 104.6057
                        },
                        "HUF": {
                          "code": "HUF",
                          "value": 338.57973
                        },
                        "IDR": {
                          "code": "IDR",
                          "value": 14429.78986
                        },
                        "ILS": {
                          "code": "ILS",
                          "value": 3.22263
                        },
                        "INR": {
                          "code": "INR",
                          "value": 75.80568
                        },
                        "IQD": {
                          "code": "IQD",
                          "value": 1459.06583
                        },
                        "IRR": {
                          "code": "IRR",
                          "value": 42276.03806
                        },
                        "ISK": {
                          "code": "ISK",
                          "value": 127.76361
                        },
                        "JMD": {
                          "code": "JMD",
                          "value": 154.95266
                        },
                        "JOD": {
                          "code": "JOD",
                          "value": 0.70901
                        },
                        "JPY": {
                          "code": "JPY",
                          "value": 114.83322
                        },
                        "KES": {
                          "code": "KES",
                          "value": 113.81265
                        },
                        "KGS": {
                          "code": "KGS",
                          "value": 94.95506
                        },
                        "KHR": {
                          "code": "KHR",
                          "value": 4064.77151
                        },
                        "KMF": {
                          "code": "KMF",
                          "value": 438.96029
                        },
                        "KRW": {
                          "code": "KRW",
                          "value": 1205.3897
                        },
                        "KWD": {
                          "code": "KWD",
                          "value": 0.30295
                        },
                        "KYD": {
                          "code": "KYD",
                          "value": 0.83308
                        },
                        "KZT": {
                          "code": "KZT",
                          "value": 489.47698
                        },
                        "LAK": {
                          "code": "LAK",
                          "value": 11449.24514
                        },
                        "LBP": {
                          "code": "LBP",
                          "value": 1511.58398
                        },
                        "LKR": {
                          "code": "LKR",
                          "value": 201.71307
                        },
                        "LRD": {
                          "code": "LRD",
                          "value": 154.25158
                        },
                        "LSL": {
                          "code": "LSL",
                          "value": 15.30042
                        },
                        "LTL": {
                          "code": "LTL",
                          "value": 2.95274
                        },
                        "LVL": {
                          "code": "LVL",
                          "value": 0.60489
                        },
                        "LYD": {
                          "code": "LYD",
                          "value": 4.61404
                        },
                        "MAD": {
                          "code": "MAD",
                          "value": 9.55313
                        },
                        "MDL": {
                          "code": "MDL",
                          "value": 18.39499
                        },
                        "MGA": {
                          "code": "MGA",
                          "value": 3988.85724
                        },
                        "MKD": {
                          "code": "MKD",
                          "value": 55.41722
                        },
                        "MMK": {
                          "code": "MMK",
                          "value": 1777.61728
                        },
                        "MOP": {
                          "code": "MOP",
                          "value": 8.04845
                        },
                        "MRO": {
                          "code": "MRO",
                          "value": 356.999828
                        },
                        "MUR": {
                          "code": "MUR",
                          "value": 43.50353
                        },
                        "MVR": {
                          "code": "MVR",
                          "value": 15.45022
                        },
                        "MWK": {
                          "code": "MWK",
                          "value": 811.76297
                        },
                        "MXN": {
                          "code": "MXN",
                          "value": 20.64952
                        },
                        "MYR": {
                          "code": "MYR",
                          "value": 4.19306
                        },
                        "MZN": {
                          "code": "MZN",
                          "value": 63.83102
                        },
                        "NAD": {
                          "code": "NAD",
                          "value": 15.40041
                        },
                        "NGN": {
                          "code": "NGN",
                          "value": 416.09485
                        },
                        "NIO": {
                          "code": "NIO",
                          "value": 35.74508
                        },
                        "NOK": {
                          "code": "NOK",
                          "value": 8.88556
                        },
                        "NPR": {
                          "code": "NPR",
                          "value": 121.08629
                        },
                        "NZD": {
                          "code": "NZD",
                          "value": 1.47844
                        },
                        "OMR": {
                          "code": "OMR",
                          "value": 0.38501
                        },
                        "PAB": {
                          "code": "PAB",
                          "value": 0.99973
                        },
                        "PEN": {
                          "code": "PEN",
                          "value": 3.78549
                        },
                        "PGK": {
                          "code": "PGK",
                          "value": 3.51019
                        },
                        "PHP": {
                          "code": "PHP",
                          "value": 51.45609
                        },
                        "PKR": {
                          "code": "PKR",
                          "value": 177.64826
                        },
                        "PLN": {
                          "code": "PLN",
                          "value": 4.25848
                        },
                        "PYG": {
                          "code": "PYG",
                          "value": 6991.93621
                        },
                        "QAR": {
                          "code": "QAR",
                          "value": 3.64105
                        },
                        "RON": {
                          "code": "RON",
                          "value": 4.44638
                        },
                        "RSD": {
                          "code": "RSD",
                          "value": 105.71956
                        },
                        "RUB": {
                          "code": "RUB",
                          "value": 108.51766
                        },
                        "RWF": {
                          "code": "RWF",
                          "value": 1013.63081
                        },
                        "SAR": {
                          "code": "SAR",
                          "value": 3.75132
                        },
                        "SBD": {
                          "code": "SBD",
                          "value": 8.08097
                        },
                        "SCR": {
                          "code": "SCR",
                          "value": 14.40019
                        },
                        "SDG": {
                          "code": "SDG",
                          "value": 445.00758
                        },
                        "SEK": {
                          "code": "SEK",
                          "value": 9.63739
                        },
                        "SGD": {
                          "code": "SGD",
                          "value": 1.35772
                        },
                        "SHP": {
                          "code": "SHP",
                          "value": 1.37742
                        },
                        "SLL": {
                          "code": "SLL",
                          "value": 11705.17733
                        },
                        "SOS": {
                          "code": "SOS",
                          "value": 584.01248
                        },
                        "SRD": {
                          "code": "SRD",
                          "value": 20.46227
                        },
                        "STD": {
                          "code": "STD",
                          "value": 20697.981008
                        },
                        "SVC": {
                          "code": "SVC",
                          "value": 8.7478
                        },
                        "SZL": {
                          "code": "SZL",
                          "value": 15.39814
                        },
                        "THB": {
                          "code": "THB",
                          "value": 32.72095
                        },
                        "TJS": {
                          "code": "TJS",
                          "value": 11.28186
                        },
                        "TMT": {
                          "code": "TMT",
                          "value": 3.50006
                        },
                        "TND": {
                          "code": "TND",
                          "value": 2.91156
                        },
                        "TOP": {
                          "code": "TOP",
                          "value": 2.28088
                        },
                        "TRY": {
                          "code": "TRY",
                          "value": 13.91538
                        },
                        "TTD": {
                          "code": "TTD",
                          "value": 6.7806
                        },
                        "TWD": {
                          "code": "TWD",
                          "value": 28.05866
                        },
                        "TZS": {
                          "code": "TZS",
                          "value": 2315.02636
                        },
                        "UAH": {
                          "code": "UAH",
                          "value": 30.04157
                        },
                        "UGX": {
                          "code": "UGX",
                          "value": 3528.99932
                        },
                        "USD": {
                          "code": "USD",
                          "value": 1
                        },
                        "UYU": {
                          "code": "UYU",
                          "value": 42.53736
                        },
                        "UZS": {
                          "code": "UZS",
                          "value": 10870.04626
                        },
                        "VND": {
                          "code": "VND",
                          "value": 22817.73175
                        },
                        "XAF": {
                          "code": "XAF",
                          "value": 586.7814
                        },
                        "XCD": {
                          "code": "XCD",
                          "value": 2.70262
                        },
                        "XDR": {
                          "code": "XDR",
                          "value": 0.71669
                        },
                        "XOF": {
                          "code": "XOF",
                          "value": 586.77997
                        },
                        "XPF": {
                          "code": "XPF",
                          "value": 106.67768
                        },
                        "YER": {
                          "code": "YER",
                          "value": 250.25588
                        },
                        "ZAR": {
                          "code": "ZAR",
                          "value": 15.41156
                        },
                        "ZMK": {
                          "code": "ZMK",
                          "value": 9001.2
                        },
                        "ZMW": {
                          "code": "ZMW",
                          "value": 17.79985
                        },
                        "ZWL": {
                          "code": "ZWL",
                          "value": 321.999592
                        }
                      }
                    }
                  },
                  "example-1": {
                    "summary": "currencies",
                    "value": {
                      "meta": {
                        "last_updated_at": "2022-03-01T23:59:59Z"
                      },
                      "data": {
                        "EUR": {
                          "code": "EUR",
                          "value": 0.89827
                        },
                        "JPY": {
                          "code": "JPY",
                          "value": 114.83322
                        }
                      }
                    }
                  },
                  "example-2": {
                    "summary": "base_currency",
                    "value": {
                      "meta": {
                        "last_updated_at": "2022-03-01T23:59:59Z"
                      },
                      "data": {
                        "AED": {
                          "code": "AED",
                          "value": 1
                        },
                        "AFN": {
                          "code": "AFN",
                          "value": 24.981651
                        },
                        "ALL": {
                          "code": "ALL",
                          "value": 29.604703
                        },
                        "AMD": {
                          "code": "AMD",
                          "value": 132.004225
                        },
                        "ANG": {
                          "code": "ANG",
                          "value": 0.490493
                        },
                        "AOA": {
                          "code": "AOA",
                          "value": 135.199109
                        },
                        "ARS": {
                          "code": "ARS",
                          "value": 29.239875
                        },
                        "AUD": {
                          "code": "AUD",
                          "value": 0.375105
                        },
                        "AWG": {
                          "code": "AWG",
                          "value": 0.490123
                        },
                        "AZN": {
                          "code": "AZN",
                          "value": 0.462822
                        },
                        "BAM": {
                          "code": "BAM",
                          "value": 0.476312
                        },
                        "BBD": {
                          "code": "BBD",
                          "value": 0.54954
                        },
                        "BDT": {
                          "code": "BDT",
                          "value": 23.399114
                        },
                        "BGN": {
                          "code": "BGN",
                          "value": 0.478365
                        },
                        "BHD": {
                          "code": "BHD",
                          "value": 0.102655
                        },
                        "BIF": {
                          "code": "BIF",
                          "value": 544.13052
                        },
                        "BMD": {
                          "code": "BMD",
                          "value": 0.272251
                        },
                        "BND": {
                          "code": "BND",
                          "value": 0.369154
                        },
                        "BOB": {
                          "code": "BOB",
                          "value": 1.871116
                        },
                        "BRL": {
                          "code": "BRL",
                          "value": 1.405057
                        },
                        "BSD": {
                          "code": "BSD",
                          "value": 0.272172
                        },
                        "BTC": {
                          "code": "BTC",
                          "value": 1931.024347
                        },
                        "BTN": {
                          "code": "BTN",
                          "value": 20.60323
                        },
                        "BWP": {
                          "code": "BWP",
                          "value": 3.170254
                        },
                        "BYN": {
                          "code": "BYN",
                          "value": 0.812709
                        },
                        "BYR": {
                          "code": "BYR",
                          "value": 5336.004966
                        },
                        "BZD": {
                          "code": "BZD",
                          "value": 0.548609
                        },
                        "CAD": {
                          "code": "CAD",
                          "value": 0.346584
                        },
                        "CDF": {
                          "code": "CDF",
                          "value": 548.447887
                        },
                        "CHF": {
                          "code": "CHF",
                          "value": 0.25009
                        },
                        "CLF": {
                          "code": "CLF",
                          "value": 0.00796
                        },
                        "CLP": {
                          "code": "CLP",
                          "value": 219.620441
                        },
                        "CNY": {
                          "code": "CNY",
                          "value": 1.718588
                        },
                        "COP": {
                          "code": "COP",
                          "value": 1057.062344
                        },
                        "CRC": {
                          "code": "CRC",
                          "value": 174.778183
                        },
                        "CUC": {
                          "code": "CUC",
                          "value": 0.273595
                        },
                        "CUP": {
                          "code": "CUP",
                          "value": 6.532024
                        },
                        "CVE": {
                          "code": "CVE",
                          "value": 26.853649
                        },
                        "CZK": {
                          "code": "CZK",
                          "value": 6.213957
                        },
                        "DJF": {
                          "code": "DJF",
                          "value": 48.384315
                        },
                        "DKK": {
                          "code": "DKK",
                          "value": 1.819382
                        },
                        "DOP": {
                          "code": "DOP",
                          "value": 14.824685
                        },
                        "DZD": {
                          "code": "DZD",
                          "value": 38.595708
                        },
                        "EGP": {
                          "code": "EGP",
                          "value": 4.276283
                        },
                        "ETB": {
                          "code": "ETB",
                          "value": 13.953367
                        },
                        "EUR": {
                          "code": "EUR",
                          "value": 0.24455
                        },
                        "FJD": {
                          "code": "FJD",
                          "value": 0.578916
                        },
                        "GBP": {
                          "code": "GBP",
                          "value": 0.204206
                        },
                        "GEL": {
                          "code": "GEL",
                          "value": 0.863042
                        },
                        "GHS": {
                          "code": "GHS",
                          "value": 1.856875
                        },
                        "GMD": {
                          "code": "GMD",
                          "value": 14.442799
                        },
                        "GNF": {
                          "code": "GNF",
                          "value": 2442.715172
                        },
                        "GTQ": {
                          "code": "GTQ",
                          "value": 2.101085
                        },
                        "GYD": {
                          "code": "GYD",
                          "value": 56.921362
                        },
                        "HKD": {
                          "code": "HKD",
                          "value": 2.127879
                        },
                        "HNL": {
                          "code": "HNL",
                          "value": 6.701723
                        },
                        "HRK": {
                          "code": "HRK",
                          "value": 1.851645
                        },
                        "HTG": {
                          "code": "HTG",
                          "value": 28.478395
                        },
                        "HUF": {
                          "code": "HUF",
                          "value": 92.17669
                        },
                        "IDR": {
                          "code": "IDR",
                          "value": 3928.440324
                        },
                        "ILS": {
                          "code": "ILS",
                          "value": 0.877345
                        },
                        "INR": {
                          "code": "INR",
                          "value": 20.637729
                        },
                        "IQD": {
                          "code": "IQD",
                          "value": 397.223598
                        },
                        "IRR": {
                          "code": "IRR",
                          "value": 11509.446379
                        },
                        "ISK": {
                          "code": "ISK",
                          "value": 34.783023
                        },
                        "JMD": {
                          "code": "JMD",
                          "value": 42.18511
                        },
                        "JOD": {
                          "code": "JOD",
                          "value": 0.193025
                        },
                        "JPY": {
                          "code": "JPY",
                          "value": 31.262787
                        },
                        "KES": {
                          "code": "KES",
                          "value": 30.984942
                        },
                        "KGS": {
                          "code": "KGS",
                          "value": 25.851055
                        },
                        "KHR": {
                          "code": "KHR",
                          "value": 1106.614335
                        },
                        "KMF": {
                          "code": "KMF",
                          "value": 119.504811
                        },
                        "KRW": {
                          "code": "KRW",
                          "value": 328.161501
                        },
                        "KWD": {
                          "code": "KWD",
                          "value": 0.082477
                        },
                        "KYD": {
                          "code": "KYD",
                          "value": 0.226802
                        },
                        "KZT": {
                          "code": "KZT",
                          "value": 133.257734
                        },
                        "LAK": {
                          "code": "LAK",
                          "value": 3117.001476
                        },
                        "LBP": {
                          "code": "LBP",
                          "value": 411.521409
                        },
                        "LKR": {
                          "code": "LKR",
                          "value": 54.915405
                        },
                        "LRD": {
                          "code": "LRD",
                          "value": 41.994245
                        },
                        "LSL": {
                          "code": "LSL",
                          "value": 4.165465
                        },
                        "LTL": {
                          "code": "LTL",
                          "value": 0.803869
                        },
                        "LVL": {
                          "code": "LVL",
                          "value": 0.164678
                        },
                        "LYD": {
                          "code": "LYD",
                          "value": 1.25615
                        },
                        "MAD": {
                          "code": "MAD",
                          "value": 2.600793
                        },
                        "MDL": {
                          "code": "MDL",
                          "value": 5.007947
                        },
                        "MGA": {
                          "code": "MGA",
                          "value": 1085.947043
                        },
                        "MKD": {
                          "code": "MKD",
                          "value": 15.087069
                        },
                        "MMK": {
                          "code": "MMK",
                          "value": 483.947685
                        },
                        "MOP": {
                          "code": "MOP",
                          "value": 2.191151
                        },
                        "MRO": {
                          "code": "MRO",
                          "value": 97.191472
                        },
                        "MUR": {
                          "code": "MUR",
                          "value": 11.843625
                        },
                        "MVR": {
                          "code": "MVR",
                          "value": 4.206247
                        },
                        "MWK": {
                          "code": "MWK",
                          "value": 220.998533
                        },
                        "MXN": {
                          "code": "MXN",
                          "value": 5.621732
                        },
                        "MYR": {
                          "code": "MYR",
                          "value": 1.14154
                        },
                        "MZN": {
                          "code": "MZN",
                          "value": 17.377686
                        },
                        "NAD": {
                          "code": "NAD",
                          "value": 4.192687
                        },
                        "NGN": {
                          "code": "NGN",
                          "value": 113.279805
                        },
                        "NIO": {
                          "code": "NIO",
                          "value": 9.731425
                        },
                        "NOK": {
                          "code": "NOK",
                          "value": 2.419051
                        },
                        "NPR": {
                          "code": "NPR",
                          "value": 32.965155
                        },
                        "NZD": {
                          "code": "NZD",
                          "value": 0.402498
                        },
                        "OMR": {
                          "code": "OMR",
                          "value": 0.104817
                        },
                        "PAB": {
                          "code": "PAB",
                          "value": 0.272172
                        },
                        "PEN": {
                          "code": "PEN",
                          "value": 1.030581
                        },
                        "PGK": {
                          "code": "PGK",
                          "value": 0.955632
                        },
                        "PHP": {
                          "code": "PHP",
                          "value": 14.008671
                        },
                        "PKR": {
                          "code": "PKR",
                          "value": 48.363877
                        },
                        "PLN": {
                          "code": "PLN",
                          "value": 1.159351
                        },
                        "PYG": {
                          "code": "PYG",
                          "value": 1903.520731
                        },
                        "QAR": {
                          "code": "QAR",
                          "value": 0.991258
                        },
                        "RON": {
                          "code": "RON",
                          "value": 1.210505
                        },
                        "RSD": {
                          "code": "RSD",
                          "value": 28.781638
                        },
                        "RUB": {
                          "code": "RUB",
                          "value": 29.543407
                        },
                        "RWF": {
                          "code": "RWF",
                          "value": 275.956073
                        },
                        "SAR": {
                          "code": "SAR",
                          "value": 1.021279
                        },
                        "SBD": {
                          "code": "SBD",
                          "value": 2.200005
                        },
                        "SCR": {
                          "code": "SCR",
                          "value": 3.920382
                        },
                        "SDG": {
                          "code": "SDG",
                          "value": 121.151156
                        },
                        "SEK": {
                          "code": "SEK",
                          "value": 2.623733
                        },
                        "SGD": {
                          "code": "SGD",
                          "value": 0.369633
                        },
                        "SHP": {
                          "code": "SHP",
                          "value": 0.374996
                        },
                        "SLL": {
                          "code": "SLL",
                          "value": 3186.677773
                        },
                        "SOS": {
                          "code": "SOS",
                          "value": 158.994566
                        },
                        "SRD": {
                          "code": "SRD",
                          "value": 5.570754
                        },
                        "STD": {
                          "code": "STD",
                          "value": 5634.924971
                        },
                        "SVC": {
                          "code": "SVC",
                          "value": 2.381546
                        },
                        "SZL": {
                          "code": "SZL",
                          "value": 4.192069
                        },
                        "THB": {
                          "code": "THB",
                          "value": 8.90812
                        },
                        "TJS": {
                          "code": "TJS",
                          "value": 3.071432
                        },
                        "TMT": {
                          "code": "TMT",
                          "value": 0.952874
                        },
                        "TND": {
                          "code": "TND",
                          "value": 0.792658
                        },
                        "TOP": {
                          "code": "TOP",
                          "value": 0.620959
                        },
                        "TRY": {
                          "code": "TRY",
                          "value": 3.788395
                        },
                        "TTD": {
                          "code": "TTD",
                          "value": 1.845985
                        },
                        "TWD": {
                          "code": "TWD",
                          "value": 7.638834
                        },
                        "TZS": {
                          "code": "TZS",
                          "value": 630.254702
                        },
                        "UAH": {
                          "code": "UAH",
                          "value": 8.178672
                        },
                        "UGX": {
                          "code": "UGX",
                          "value": 960.752954
                        },
                        "USD": {
                          "code": "USD",
                          "value": 0.272245
                        },
                        "UYU": {
                          "code": "UYU",
                          "value": 11.58059
                        },
                        "UZS": {
                          "code": "UZS",
                          "value": 2959.317389
                        },
                        "VND": {
                          "code": "VND",
                          "value": 6212.016833
                        },
                        "XAF": {
                          "code": "XAF",
                          "value": 159.748391
                        },
                        "XCD": {
                          "code": "XCD",
                          "value": 0.735775
                        },
                        "XDR": {
                          "code": "XDR",
                          "value": 0.195115
                        },
                        "XOF": {
                          "code": "XOF",
                          "value": 159.748002
                        },
                        "XPF": {
                          "code": "XPF",
                          "value": 29.042481
                        },
                        "YER": {
                          "code": "YER",
                          "value": 68.13095
                        },
                        "ZAR": {
                          "code": "ZAR",
                          "value": 4.195722
                        },
                        "ZMK": {
                          "code": "ZMK",
                          "value": 2450.533056
                        },
                        "ZMW": {
                          "code": "ZMW",
                          "value": 4.845923
                        },
                        "ZWL": {
                          "code": "ZWL",
                          "value": 87.662828
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/historical": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "historical",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{currencyapi_apikey}}"
          },
          {
            "name": "date",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "MANDATORY - The historical date you want to request (Has to be in the past)",
            "example": "2022-01-01"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 02 Mar 2022 10:14:45 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "charset": {
                "schema": {
                  "type": "string",
                  "example": "utf-8"
                }
              },
              "x-execution-time": {
                "schema": {
                  "type": "integer",
                  "example": "134"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "x-ratelimit-limit-quota-minute": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "x-ratelimit-remaining-quota-minute": {
                "schema": {
                  "type": "integer",
                  "example": "9"
                }
              },
              "x-ratelimit-limit-quota-month": {
                "schema": {
                  "type": "integer",
                  "example": "300"
                }
              },
              "x-ratelimit-remaining-quota-month": {
                "schema": {
                  "type": "integer",
                  "example": "290"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Expect-CT": {
                "schema": {
                  "type": "string",
                  "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=%2B%2BIac9ulcmekqe0sLIvWpGFXtGr7oDgorHfC6YIFQ2TcBOhqR7koZhGa7JM%2Bkg3r2nymbgx4VHISu8X8QTT%2FjCaYNpaRI57N71GW8oww2FiHYJ6opaZZ5VR9Aa1SgEw%2FIrawRp7h\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "6e595e048abe77f1-VIE"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "meta": {
                    "last_updated_at": "2022-01-01T23:59:59Z"
                  },
                  "data": {
                    "AED": {
                      "code": "AED",
                      "value": 3.67267
                    },
                    "AFN": {
                      "code": "AFN",
                      "value": 103.6321
                    },
                    "ALL": {
                      "code": "ALL",
                      "value": 105.93177
                    },
                    "AMD": {
                      "code": "AMD",
                      "value": 479.01204
                    },
                    "AOA": {
                      "code": "AOA",
                      "value": 561.3327
                    },
                    "ARS": {
                      "code": "ARS",
                      "value": 102.68228
                    },
                    "AUD": {
                      "code": "AUD",
                      "value": 1.37532
                    },
                    "AWG": {
                      "code": "AWG",
                      "value": 1.78004
                    },
                    "AZN": {
                      "code": "AZN",
                      "value": 1.69304
                    },
                    "BBD": {
                      "code": "BBD",
                      "value": 1.99814
                    },
                    "BDT": {
                      "code": "BDT",
                      "value": 85.62223
                    },
                    "BGN": {
                      "code": "BGN",
                      "value": 1.71934
                    },
                    "BHD": {
                      "code": "BHD",
                      "value": 0.37701
                    },
                    "BIF": {
                      "code": "BIF",
                      "value": 1989.14937
                    },
                    "BIH": {
                      "code": "BIH",
                      "value": 1.71773
                    },
                    "BMD": {
                      "code": "BMD",
                      "value": 1.00003
                    },
                    "BND": {
                      "code": "BND",
                      "value": 1.34862
                    },
                    "BOB": {
                      "code": "BOB",
                      "value": 6.83016
                    },
                    "BRL": {
                      "code": "BRL",
                      "value": 5.57043
                    },
                    "BSD": {
                      "code": "BSD",
                      "value": 1.00003
                    },
                    "BTC": {
                      "code": "BTC",
                      "value": 0.0216
                    },
                    "BTN": {
                      "code": "BTN",
                      "value": 74.31136
                    },
                    "BWP": {
                      "code": "BWP",
                      "value": 11.74793
                    },
                    "BYR": {
                      "code": "BYR",
                      "value": 3.00003
                    },
                    "CAD": {
                      "code": "CAD",
                      "value": 1.26249
                    },
                    "CDF": {
                      "code": "CDF",
                      "value": 1994.94245
                    },
                    "CHF": {
                      "code": "CHF",
                      "value": 0.91201
                    },
                    "CLP": {
                      "code": "CLP",
                      "value": 851.1244
                    },
                    "CNY": {
                      "code": "CNY",
                      "value": 6.36386
                    },
                    "COP": {
                      "code": "COP",
                      "value": 4065.44524
                    },
                    "CRC": {
                      "code": "CRC",
                      "value": 638.28509
                    },
                    "CUC": {
                      "code": "CUC",
                      "value": 24.00028
                    },
                    "CVE": {
                      "code": "CVE",
                      "value": 96.94277
                    },
                    "CZK": {
                      "code": "CZK",
                      "value": 21.83007
                    },
                    "DJF": {
                      "code": "DJF",
                      "value": 177.50259
                    },
                    "DKK": {
                      "code": "DKK",
                      "value": 6.53643
                    },
                    "DOP": {
                      "code": "DOP",
                      "value": 57.10077
                    },
                    "DZD": {
                      "code": "DZD",
                      "value": 138.12174
                    },
                    "EGP": {
                      "code": "EGP",
                      "value": 15.6603
                    },
                    "ERN": {
                      "code": "ERN",
                      "value": 15.00028
                    },
                    "ETB": {
                      "code": "ETB",
                      "value": 49.19465
                    },
                    "ETH": {
                      "code": "ETH",
                      "value": 0.00027
                    },
                    "EUR": {
                      "code": "EUR",
                      "value": 0.87943
                    },
                    "FJD": {
                      "code": "FJD",
                      "value": 2.11856
                    },
                    "GBP": {
                      "code": "GBP",
                      "value": 0.73931
                    },
                    "GEL": {
                      "code": "GEL",
                      "value": 3.06004
                    },
                    "GHS": {
                      "code": "GHS",
                      "value": 6.03016
                    },
                    "GIP": {
                      "code": "GIP",
                      "value": 0.74202
                    },
                    "GMD": {
                      "code": "GMD",
                      "value": 52.9008
                    },
                    "GNF": {
                      "code": "GNF",
                      "value": 9193.12119
                    },
                    "GTQ": {
                      "code": "GTQ",
                      "value": 7.70518
                    },
                    "GYD": {
                      "code": "GYD",
                      "value": 207.98258
                    },
                    "HKD": {
                      "code": "HKD",
                      "value": 7.79609
                    },
                    "HNL": {
                      "code": "HNL",
                      "value": 24.25392
                    },
                    "HRK": {
                      "code": "HRK",
                      "value": 6.6396
                    },
                    "HRV": {
                      "code": "HRV",
                      "value": 6.59939
                    },
                    "HTG": {
                      "code": "HTG",
                      "value": 98.95277
                    },
                    "HUF": {
                      "code": "HUF",
                      "value": 323.81465
                    },
                    "IDR": {
                      "code": "IDR",
                      "value": 14250.40122
                    },
                    "ILS": {
                      "code": "ILS",
                      "value": 3.09675
                    },
                    "INR": {
                      "code": "INR",
                      "value": 74.46853
                    },
                    "IQD": {
                      "code": "IQD",
                      "value": 1458.53586
                    },
                    "IRR": {
                      "code": "IRR",
                      "value": 42001.17409
                    },
                    "ISK": {
                      "code": "ISK",
                      "value": 129.6418
                    },
                    "JMD": {
                      "code": "JMD",
                      "value": 152.75224
                    },
                    "JOD": {
                      "code": "JOD",
                      "value": 0.70701
                    },
                    "JPY": {
                      "code": "JPY",
                      "value": 115.11187
                    },
                    "KES": {
                      "code": "KES",
                      "value": 113.05283
                    },
                    "KGS": {
                      "code": "KGS",
                      "value": 84.80219
                    },
                    "KHR": {
                      "code": "KHR",
                      "value": 4064.10659
                    },
                    "KMF": {
                      "code": "KMF",
                      "value": 433.80524
                    },
                    "KPW": {
                      "code": "KPW",
                      "value": 130.00295
                    },
                    "KRW": {
                      "code": "KRW",
                      "value": 1185.02539
                    },
                    "KWD": {
                      "code": "KWD",
                      "value": 0.3021
                    },
                    "KYD": {
                      "code": "KYD",
                      "value": 0.82502
                    },
                    "KZT": {
                      "code": "KZT",
                      "value": 434.84148
                    },
                    "LAK": {
                      "code": "LAK",
                      "value": 11138.26228
                    },
                    "LBP": {
                      "code": "LBP",
                      "value": 1505.73102
                    },
                    "LKR": {
                      "code": "LKR",
                      "value": 202.75369
                    },
                    "LRD": {
                      "code": "LRD",
                      "value": 144.00301
                    },
                    "LSL": {
                      "code": "LSL",
                      "value": 15.94278
                    },
                    "LTC": {
                      "code": "LTC",
                      "value": 0.00685
                    },
                    "LYD": {
                      "code": "LYD",
                      "value": 4.58465
                    },
                    "MAD": {
                      "code": "MAD",
                      "value": 9.24883
                    },
                    "MDL": {
                      "code": "MDL",
                      "value": 17.70336
                    },
                    "MGA": {
                      "code": "MGA",
                      "value": 3937.08508
                    },
                    "MKD": {
                      "code": "MKD",
                      "value": 54.31073
                    },
                    "MMK": {
                      "code": "MMK",
                      "value": 1769.52306
                    },
                    "MNT": {
                      "code": "MNT",
                      "value": 2830.05053
                    },
                    "MOP": {
                      "code": "MOP",
                      "value": 8.03019
                    },
                    "MRO": {
                      "code": "MRO",
                      "value": 36.13106
                    },
                    "MUR": {
                      "code": "MUR",
                      "value": 43.45044
                    },
                    "MVR": {
                      "code": "MVR",
                      "value": 15.42032
                    },
                    "MWK": {
                      "code": "MWK",
                      "value": 806.81477
                    },
                    "MXN": {
                      "code": "MXN",
                      "value": 20.49896
                    },
                    "MYR": {
                      "code": "MYR",
                      "value": 4.16406
                    },
                    "MZN": {
                      "code": "MZN",
                      "value": 63.20096
                    },
                    "NAD": {
                      "code": "NAD",
                      "value": 15.95333
                    },
                    "NGN": {
                      "code": "NGN",
                      "value": 411.70902
                    },
                    "NIO": {
                      "code": "NIO",
                      "value": 35.31039
                    },
                    "NOK": {
                      "code": "NOK",
                      "value": 8.79303
                    },
                    "NPR": {
                      "code": "NPR",
                      "value": 118.93311
                    },
                    "NZD": {
                      "code": "NZD",
                      "value": 1.46192
                    },
                    "OMR": {
                      "code": "OMR",
                      "value": 0.38471
                    },
                    "PAB": {
                      "code": "PAB",
                      "value": 1.00003
                    },
                    "PEN": {
                      "code": "PEN",
                      "value": 3.98527
                    },
                    "PGK": {
                      "code": "PGK",
                      "value": 3.51194
                    },
                    "PHP": {
                      "code": "PHP",
                      "value": 50.99135
                    },
                    "PKR": {
                      "code": "PKR",
                      "value": 175.80267
                    },
                    "PLN": {
                      "code": "PLN",
                      "value": 4.03158
                    },
                    "PYG": {
                      "code": "PYG",
                      "value": 6857.12134
                    },
                    "QAR": {
                      "code": "QAR",
                      "value": 3.64158
                    },
                    "RON": {
                      "code": "RON",
                      "value": 4.34823
                    },
                    "RSD": {
                      "code": "RSD",
                      "value": 103.28223
                    },
                    "RUB": {
                      "code": "RUB",
                      "value": 74.74872
                    },
                    "RWF": {
                      "code": "RWF",
                      "value": 1024.72857
                    },
                    "SAR": {
                      "code": "SAR",
                      "value": 3.75389
                    },
                    "SBD": {
                      "code": "SBD",
                      "value": 7.90512
                    },
                    "SCR": {
                      "code": "SCR",
                      "value": 13.60715
                    },
                    "SDG": {
                      "code": "SDG",
                      "value": 436.2866
                    },
                    "SEK": {
                      "code": "SEK",
                      "value": 9.04196
                    },
                    "SGD": {
                      "code": "SGD",
                      "value": 1.34767
                    },
                    "SLL": {
                      "code": "SLL",
                      "value": 11140.15983
                    },
                    "SOS": {
                      "code": "SOS",
                      "value": 575.01646
                    },
                    "SRD": {
                      "code": "SRD",
                      "value": 19.53145
                    },
                    "SSP": {
                      "code": "SSP",
                      "value": 425.58375
                    },
                    "STD": {
                      "code": "STD",
                      "value": 21.52052
                    },
                    "SVC": {
                      "code": "SVC",
                      "value": 8.74959
                    },
                    "SYP": {
                      "code": "SYP",
                      "value": 2511.03826
                    },
                    "SZL": {
                      "code": "SZL",
                      "value": 15.94871
                    },
                    "THB": {
                      "code": "THB",
                      "value": 33.23057
                    },
                    "TJS": {
                      "code": "TJS",
                      "value": 11.29919
                    },
                    "TMT": {
                      "code": "TMT",
                      "value": 3.49006
                    },
                    "TND": {
                      "code": "TND",
                      "value": 2.87016
                    },
                    "TRY": {
                      "code": "TRY",
                      "value": 13.30233
                    },
                    "TTD": {
                      "code": "TTD",
                      "value": 6.77262
                    },
                    "TWD": {
                      "code": "TWD",
                      "value": 27.68057
                    },
                    "TZS": {
                      "code": "TZS",
                      "value": 2301.06306
                    },
                    "UAH": {
                      "code": "UAH",
                      "value": 27.25063
                    },
                    "UGX": {
                      "code": "UGX",
                      "value": 3541.04475
                    },
                    "URY": {
                      "code": "URY",
                      "value": 44.70109
                    },
                    "USD": {
                      "code": "USD",
                      "value": 1
                    },
                    "UZS": {
                      "code": "UZS",
                      "value": 10816.18508
                    },
                    "VND": {
                      "code": "VND",
                      "value": 22825.35813
                    },
                    "VUV": {
                      "code": "VUV",
                      "value": 111.26311
                    },
                    "XAF": {
                      "code": "XAF",
                      "value": 576.67892
                    },
                    "XOF": {
                      "code": "XOF",
                      "value": 576.50899
                    },
                    "XPF": {
                      "code": "XPF",
                      "value": 104.63208
                    },
                    "XRP": {
                      "code": "XRP",
                      "value": 1.2079
                    },
                    "YER": {
                      "code": "YER",
                      "value": 249.95497
                    },
                    "ZAR": {
                      "code": "ZAR",
                      "value": 15.92997
                    },
                    "ZMW": {
                      "code": "ZMW",
                      "value": 16.63533
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v3/convert": {
      "get": {
        "tags": [
          "default"
        ],
        "summary": "convert",
        "parameters": [
          {
            "name": "apikey",
            "in": "header",
            "schema": {
              "type": "string"
            },
            "example": "{{currencyapi_apikey}}"
          },
          {
            "name": "value",
            "in": "query",
            "schema": {
              "type": "number"
            },
            "description": "MANDATORY - The value you want to convert",
            "example": "999.99"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 02 Mar 2022 10:21:13 GMT"
                }
              },
              "Content-Type": {
                "schema": {
                  "type": "string",
                  "example": "application/json; charset=UTF-8"
                }
              },
              "Transfer-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "chunked"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "charset": {
                "schema": {
                  "type": "string",
                  "example": "utf-8"
                }
              },
              "x-execution-time": {
                "schema": {
                  "type": "number",
                  "example": "56.6"
                }
              },
              "cache-control": {
                "schema": {
                  "type": "string",
                  "example": "no-cache, private"
                }
              },
              "vary": {
                "schema": {
                  "type": "string",
                  "example": "Origin"
                }
              },
              "access-control-allow-origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "x-ratelimit-limit-quota-month": {
                "schema": {
                  "type": "integer",
                  "example": "1700300"
                }
              },
              "x-ratelimit-remaining-quota-month": {
                "schema": {
                  "type": "integer",
                  "example": "1645449"
                }
              },
              "x-ratelimit-limit-quota-minute": {
                "schema": {
                  "type": "integer",
                  "example": "10"
                }
              },
              "x-ratelimit-remaining-quota-minute": {
                "schema": {
                  "type": "integer",
                  "example": "9"
                }
              },
              "x-kong-upstream-latency": {
                "schema": {
                  "type": "integer",
                  "example": "63"
                }
              },
              "x-kong-proxy-latency": {
                "schema": {
                  "type": "integer",
                  "example": "6"
                }
              },
              "via": {
                "schema": {
                  "type": "string",
                  "example": "kong/2.7.1"
                }
              },
              "CF-Cache-Status": {
                "schema": {
                  "type": "string",
                  "example": "DYNAMIC"
                }
              },
              "Expect-CT": {
                "schema": {
                  "type": "string",
                  "example": "max-age=604800, report-uri=\"https://report-uri.cloudflare.com/cdn-cgi/beacon/expect-ct\""
                }
              },
              "Report-To": {
                "schema": {
                  "type": "string",
                  "example": "{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report\\/v3?s=9caiBttyJpbpNFHgZQtNKvV15bIWHsOUTJukGNyj4EEdnoQp8dhIpUoJPRxgf6P49WAigazQejaDjqcQ28m9o37UCGLJAXufmDZZhRuapNRdaHZmznDiRxFq7ONhl7JNU7FuS458\"}],\"group\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "NEL": {
                "schema": {
                  "type": "string",
                  "example": "{\"success_fraction\":0,\"report_to\":\"cf-nel\",\"max_age\":604800}"
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "cloudflare"
                }
              },
              "CF-RAY": {
                "schema": {
                  "type": "string",
                  "example": "6e59677bfd1277f1-VIE"
                }
              },
              "Content-Encoding": {
                "schema": {
                  "type": "string",
                  "example": "br"
                }
              },
              "alt-svc": {
                "schema": {
                  "type": "string",
                  "example": "h3=\":443\"; ma=86400, h3-29=\":443\"; ma=86400"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "examples": {
                  "example-0": {
                    "summary": "convert",
                    "value": {
                      "meta": {
                        "last_updated_at": "2022-03-02T10:20:59Z"
                      },
                      "data": {
                        "AED": {
                          "code": "AED",
                          "value": 3673.053269
                        },
                        "AFN": {
                          "code": "AFN",
                          "value": 91760.642384
                        },
                        "ALL": {
                          "code": "ALL",
                          "value": 108741.292576
                        },
                        "AMD": {
                          "code": "AMD",
                          "value": 484860.831343
                        },
                        "ANG": {
                          "code": "ANG",
                          "value": 1801.651983
                        },
                        "AOA": {
                          "code": "AOA",
                          "value": 496609.903851
                        },
                        "ARS": {
                          "code": "ARS",
                          "value": 107401.765972
                        },
                        "AUD": {
                          "code": "AUD",
                          "value": 1377.436226
                        },
                        "AWG": {
                          "code": "AWG",
                          "value": 1800.261997
                        },
                        "AZN": {
                          "code": "AZN",
                          "value": 1700.013
                        },
                        "BAM": {
                          "code": "BAM",
                          "value": 1749.562504
                        },
                        "BBD": {
                          "code": "BBD",
                          "value": 2018.529815
                        },
                        "BDT": {
                          "code": "BDT",
                          "value": 85948.980502
                        },
                        "BGN": {
                          "code": "BGN",
                          "value": 1766.622334
                        },
                        "BHD": {
                          "code": "BHD",
                          "value": 376.97623
                        },
                        "BIF": {
                          "code": "BIF",
                          "value": 1998667.163129
                        },
                        "BMD": {
                          "code": "BMD",
                          "value": 1000.01
                        },
                        "BND": {
                          "code": "BND",
                          "value": 1355.936441
                        },
                        "BOB": {
                          "code": "BOB",
                          "value": 6872.92127
                        },
                        "BRL": {
                          "code": "BRL",
                          "value": 5160.858391
                        },
                        "BSD": {
                          "code": "BSD",
                          "value": 999.730003
                        },
                        "BTC": {
                          "code": "BTC",
                          "value": 7092872.220569
                        },
                        "BTN": {
                          "code": "BTN",
                          "value": 75678.22321
                        },
                        "BWP": {
                          "code": "BWP",
                          "value": 11644.653552
                        },
                        "BYN": {
                          "code": "BYN",
                          "value": 2985.200148
                        },
                        "BYR": {
                          "code": "BYR",
                          "value": 19599804
                        },
                        "BZD": {
                          "code": "BZD",
                          "value": 2015.109849
                        },
                        "CAD": {
                          "code": "CAD",
                          "value": 1271.477285
                        },
                        "CDF": {
                          "code": "CDF",
                          "value": 2014538.014418
                        },
                        "CHF": {
                          "code": "CHF",
                          "value": 918.03082
                        },
                        "CLF": {
                          "code": "CLF",
                          "value": 29.239708
                        },
                        "CLP": {
                          "code": "CLP",
                          "value": 806704.082879
                        },
                        "CNY": {
                          "code": "CNY",
                          "value": 6315.066849
                        },
                        "COP": {
                          "code": "COP",
                          "value": 3882736.14225
                        },
                        "CRC": {
                          "code": "CRC",
                          "value": 641983.050105
                        },
                        "CUC": {
                          "code": "CUC",
                          "value": 1004.95995
                        },
                        "CUP": {
                          "code": "CUP",
                          "value": 23992.850069
                        },
                        "CVE": {
                          "code": "CVE",
                          "value": 98635.913631
                        },
                        "CZK": {
                          "code": "CZK",
                          "value": 23103.568962
                        },
                        "DJF": {
                          "code": "DJF",
                          "value": 177721.042772
                        },
                        "DKK": {
                          "code": "DKK",
                          "value": 6712.582874
                        },
                        "DOP": {
                          "code": "DOP",
                          "value": 54452.695468
                        },
                        "DZD": {
                          "code": "DZD",
                          "value": 142155.918427
                        },
                        "EGP": {
                          "code": "EGP",
                          "value": 15709.512903
                        },
                        "ETB": {
                          "code": "ETB",
                          "value": 51252.51747
                        },
                        "EUR": {
                          "code": "EUR",
                          "value": 902.360976
                        },
                        "FJD": {
                          "code": "FJD",
                          "value": 2124.578754
                        },
                        "GBP": {
                          "code": "GBP",
                          "value": 751.102489
                        },
                        "GEL": {
                          "code": "GEL",
                          "value": 3170.0183
                        },
                        "GHS": {
                          "code": "GHS",
                          "value": 6820.471795
                        },
                        "GMD": {
                          "code": "GMD",
                          "value": 53050.089494
                        },
                        "GNF": {
                          "code": "GNF",
                          "value": 8972404.945053
                        },
                        "GTQ": {
                          "code": "GTQ",
                          "value": 7717.542824
                        },
                        "GYD": {
                          "code": "GYD",
                          "value": 209076.989209
                        },
                        "HKD": {
                          "code": "HKD",
                          "value": 7816.511834
                        },
                        "HNL": {
                          "code": "HNL",
                          "value": 24616.283835
                        },
                        "HRK": {
                          "code": "HRK",
                          "value": 6832.561674
                        },
                        "HTG": {
                          "code": "HTG",
                          "value": 104604.173948
                        },
                        "HUF": {
                          "code": "HUF",
                          "value": 344023.089735
                        },
                        "IDR": {
                          "code": "IDR",
                          "value": 14393749.131069
                        },
                        "ILS": {
                          "code": "ILS",
                          "value": 3230.147698
                        },
                        "INR": {
                          "code": "INR",
                          "value": 75726.912723
                        },
                        "IQD": {
                          "code": "IQD",
                          "value": 1459052.119333
                        },
                        "IRR": {
                          "code": "IRR",
                          "value": 42105323.392556
                        },
                        "ISK": {
                          "code": "ISK",
                          "value": 129031.539672
                        },
                        "JMD": {
                          "code": "JMD",
                          "value": 154951.900466
                        },
                        "JOD": {
                          "code": "JOD",
                          "value": 709.01291
                        },
                        "JPY": {
                          "code": "JPY",
                          "value": 115264.047348
                        },
                        "KES": {
                          "code": "KES",
                          "value": 113812.141867
                        },
                        "KGS": {
                          "code": "KGS",
                          "value": 95681.213178
                        },
                        "KHR": {
                          "code": "KHR",
                          "value": 4064681.062783
                        },
                        "KMF": {
                          "code": "KMF",
                          "value": 438957.830378
                        },
                        "KRW": {
                          "code": "KRW",
                          "value": 1207490.264977
                        },
                        "KWD": {
                          "code": "KWD",
                          "value": 303.156968
                        },
                        "KYD": {
                          "code": "KYD",
                          "value": 833.071669
                        },
                        "KZT": {
                          "code": "KZT",
                          "value": 489475.865192
                        },
                        "LAK": {
                          "code": "LAK",
                          "value": 11449104.957806
                        },
                        "LBP": {
                          "code": "LBP",
                          "value": 1511575.034099
                        },
                        "LKR": {
                          "code": "LKR",
                          "value": 201711.272867
                        },
                        "LRD": {
                          "code": "LRD",
                          "value": 154251.227472
                        },
                        "LSL": {
                          "code": "LSL",
                          "value": 15300.046998
                        },
                        "LTL": {
                          "code": "LTL",
                          "value": 2952.710473
                        },
                        "LVL": {
                          "code": "LVL",
                          "value": 604.883951
                        },
                        "LYD": {
                          "code": "LYD",
                          "value": 4613.95386
                        },
                        "MAD": {
                          "code": "MAD",
                          "value": 9553.124468
                        },
                        "MDL": {
                          "code": "MDL",
                          "value": 18394.82605
                        },
                        "MGA": {
                          "code": "MGA",
                          "value": 3988849.511106
                        },
                        "MKD": {
                          "code": "MKD",
                          "value": 55416.46583
                        },
                        "MMK": {
                          "code": "MMK",
                          "value": 1777600.653816
                        },
                        "MOP": {
                          "code": "MOP",
                          "value": 8048.359516
                        },
                        "MRO": {
                          "code": "MRO",
                          "value": 356996.258002
                        },
                        "MUR": {
[...]
